{% extends 'masterpage.html' %}
{% block title %}
User Query
{% endblock %}
{% block content %}
<div class="container" style="height:600px;">
    <table class="table">
  <thead  class="thead-dark">
  <tr>
      <th colspan="5" class="text-center"  id="calories_chart"><h1>Queries</h1></th>
  </tr>
  </thead>
        <tbody align="center" >
  <tr class="table-success">
      <th>Name</th>
      <th>Email</th>
      <th>Subject</th>
       <th>Message</th>
      <th>Time</th>
    </tr>
  {% if cd %}
  {% for i in cd %}
        <tr>
            <th>{{i.contact_name}}</th>
            <th>{{i.contact_email}}</th>
            <th>{{i.contact_subject}}</th>
            <th>{{i.contact_message}}</th>
            <th>{{i.contact_time}}</th>
        </tr>
        {% endfor %}
    {% endif %}
        </tbody>
    </table>


</div>
{% endblock content%}