{% extends 'index.html' %}
{% block title %}
    About
{% endblock title %}
{% block logout %}
<li class="nav-item"><a href="{% url 'front_panel:logout' %}" class="nav-link">Logout</a></li>
{% endblock logout %}
{% block content %}
    <div>


    <section class="hero-wrap hero-wrap-2" style="background-image: url('/assets/images/bg_7.jpg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center">
            <h1 class="mb-3 bread">About Us</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About us<i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>

		<section class="ftco-counter ftco-section ftco-no-pt ftco-no-pb img" id="section-counter">
    	<div class="container">
    		<div class="row d-flex">
    			<div class="col-md-6 d-flex">
    				<div class="img d-flex align-self-stretch" style="background-image:url(/assets/images/about.jpg);"></div>
    			</div>
    			<div class="col-md-6 pl-md-6 py-6">
    				<div class="row justify-content-start pb-3">
		          <div class="col-md-12 heading-section ftco-animate">
		            <h2 class="mb-4"><span>About healthy Khao</span></h2>
		            <p style="text-align:justify;">We at Healthy Khao encourage people to live a healthier lifestyle,with our exotic recipes.
						We help individual complete their daily requirement of important vitamins, nutrients and minerals needed by human body,
					 building healthier working atmosphere.
					 <br> Here we allow our users to share their fitness ideas and buy others recipes and exercises plans.</p>
		          </div>

		          <div class="col-md-12 heading-section ftco-animate">
		            <h2 class="mb-4"><span>FAQ</span></h2>

					  <h3 class="mb-4">I can’t add recipes to my Cart</h3>
						<p style="text-align:justify;">If you are having trouble adding recipes to your Cart, please ensure you are viewing Healthy Khao on a Supported Browser.
						If you are, and you are still not able to save recipes to your Cart, please ensure you have Cookies and JavaScript enabled on your browser.
						If you are still having problems, please email us at thakurshefali53@gmail.com
					</p>
					  <h3 class="mb-4">How to add recipe/exercises?</h3>
						<p style="text-align:justify;">You just need to Sign up as nutritionist/fitness trainer.After login you will be directed to a different panel , there you can add recipes their procedure , exercises etc.

					</p>
				  </div>


		        </div>

	        </div>
        </div>

    	</div>
	</section>


				 <div class="col-md-12 heading-section ftco-animate text-center" style="margin-top:50px;">
		            <h2 class="mb-4"><span>About Developer</span></h2>
					  <h3 class="mb-4">Shefali Thakur</h3>
			 			<h6 class="mb-4">CSE, A.B.V.G.I.E.T, Shimla, (H.P)</h6>
						<h2 class="mb-4"><span>Special Thanks</span></h2>
					 <div class="col-md-auto" >
						<p>I would like to thank Mr. Daljit Singh,Project Guide at Netmax Technologies,Chandigarh,for his valuable time and patience.
						Also a special thanks to Mr.Vipin(Web Designing),Shivam,Shaparsh and Raman for their valuable time and corporation.</p>
					</div>
	</div>
	</div>


{% endblock content %}
