<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>change password</title>
</head>
<body>



        <h2>change password</h2>
        <form method="POST">

            {% csrf_token %}
             {% if inserted %}
            <script>alert('Sucessfully updated');</script>
            {% endif %}


            <div class="inputBox">
                <label for="old_password">old password</label>
                <input type="password" name="old_password" required="">

            </div>
            <div class="inputBox">
                <label for="new_password">new password</label>
                <input type="password" name="new_password" required="">

            </div>

            <div class="inputBox">
                <label for="confirm_password"> confirm password</label>
                <input type="password" name="confirm_password" required="">

            </div>

            <input type="submit" name="" value="Change password">
        </form>
</body>
</html>