<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

      <link rel="stylesheet" href="/assets/css/style.css">

    <title>Forgot password</title>
</head>
<body>
  <div class="forgot_password_body">
      <div class="container">
      <div class="row">
    <div class="forgot_password_box col-md-4 offset-md-4">

        <form method="POST"  >
            {% csrf_token %}
            {{ dict.as_p }}
             {% if wrong %}
                <script>alert('password did not match');</script>
            {% endif %}
            {% if wrong_otp %}
                <script>alert('wrong otp');</script>
            {% endif %}
            {% if not_sent %}
                <script>alert('email not sent');</script>

            {% endif %}

            {% if os %}
               <script>alert('otp sent');</script>
            {% endif %}

        {% if cp %}
        <h3 class="display-4">Trouble in logging</h3>
        <p>Enter your email <br>and we'll send you a link to get back into your account.</p>

            <div class="inputBox" >
                <input type="text" name="user_email" value="e-mail" onfocus="this.value=''" >
                <input type="text" name="enter_otp" value="" style="display: none;" >

            </div>

            <button type="submit" class="btn btn-secondary" name="generate_otp" id="otp_gen">Generate Otp</button>
            <div class="inputBox" >
                <a href="{% url 'front_panel:index' %}">Back to home page</a>

            </div>
        {% endif %}

            {%  if otp_gen %}
                 <h3 class="display-4">Update your password here</h3>
                 <p>Enter otp and enter new password </p>


                <div class="inputBox" >
                <input type="text" name="user_email" value="{{ em }}"  class="static-value" >
                <input type="text" name="enter_otp" value="" style="display: none;" >

            </div>
            <div class="inputBox" >
                <input type="text" name="enter_otp" value="Enter otp" onfocus="this.value=''">
            </div>
            <div class="inputBox" >
                <input type="password" name="new_password" value="New Password"  onfocus="this.value=''" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
            </div>
            <div class="inputBox" >
                <input type="password" name="confirm_password" value="Confirm Password" onfocus="this.value=''">
            </div>
            <div class="inputBox" >
                <button type="submit" class="btn btn-secondary" name="update_password">Update Password</button>
            </div>
           {% endif %}
        </form>
    </div>
</div>
  </div>
      </div>

    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/popper.js"></script>

    <script src="/assets/js/bootstrap.min.js"></script>

</body>
</html>
