<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
      <link rel="stylesheet" href="../assets/css/style.css">

    <title>Page Not Found</title>
  </head>
  <body class="page_not_found" >
        <header>
            <nav>
                <div class="back">
                    <a href="/"><img src=""><span>Back</span> </a>

                </div>
                <div class="logo">
                    <a href="#"><img src="/assets/images/404_1.png" alt="logo" ></a>
                </div>
            </nav>
            <div class="broken">
                <p class="upper">Oops!!! You broke it.</p>
                <img src="/assets/images/404_1.png" alt="Logo Broken">
                <p class="lower">We cannot find the page you are requesting.</p>
                <a href="/" class="button">Take me home</a>
            </div>

        </header>

    <script src="/assets/js/jquery.js"></script>
     <script src="/assets/js/popper.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
  </body>
</html>
