{% extends 'masterpage.html' %}
{% block title %}
Update profile
{% endblock title %}
{% block content %}
<div class="signup-body">
		<div class="agile-signup">

			<div class="content2">
				<div class="grids-heading gallery-heading signup-heading">
					<h2>Update </h2>
				</div>
				<form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ dict.as_p }}
                    {% if inserted %}
                    <script>alert('data updated');</script>
                    {% endif %}



					<input type="text" name="user_name" value="user_name" onfocus="this.value = ''; " onblur="if (this.value == '') {this.value = 'Name';}">
					<input type="text" name="user_mobile" value="user_mobile" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Mobile';}">
                    <div class="form-group text-left">
                    <label  style="text-align:left; margin-top: 20px;" >Profile Picture</label>
                    <input type="file" name="user_image" value="user_image"  class="inline-element"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Image';}">
                    </div>
                    <div class="form-group text-left">
                    <label>Date of birth</label>
                    <input type="date" name="user_dob" value="user_dob" class="inline-element"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'DOB';}">
                        </div>
                    <div class="form-group text-left">
                    <label>Gender</label>
                    <select name="user_gender" class="styled-select blue rounded" >
                        <option value="0">Select</option>
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                        <option value="3">Other</option>
                    </select>
                        </div>
                    <div class="text-center">
                    <input type="submit" class="register" value="Update">
                        </div>
				</form>
                <div class="text-center">

				<a href="{% url 'nutritionist:nutri_index' %}">Back To Home</a>
                    </div>
			</div>
        </div>
</div>

{% endblock content %}