{% extends 'master_page_nutri.html' %}
{% block title %}
Change Password
{% endblock title %}
{% block content %}
<div class="signup-body">
		<div class="agile-signup">

			<div class="content2">
				<div class="grids-heading gallery-heading signup-heading">
					<h2>Change Password</h2>
				</div>
				<form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ dict.as_p }}
                    {% if inserted %}
                    <script>alert('data inserted');</script>
                    {% endif %}
                    <label for="old_password">Old password</label><input type="password" name="old_password"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'old_password';}">
					<label for="new_password">New password</label><input type="password" name="new_password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'new_password';}">
                    <label for="confirm_password">Confirm Password</label><input type="password" name="confirm_password"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'confirm_password';}">
                    <label for="otp">OTP</label><input type="text" name="otp"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'otp';}">

                    <input type="submit" class="register" value="Change password">
				</form>
				<a href="{% url 'nutritionist:nutri_index' %}">Back To Home</a>
			</div>
        </div>
</div>

{% endblock content %}