{% extends 'master_page_nutri.html' %}
{% block title %}
view Recipe
{% endblock title %}
{% block content %}

<div class="main-grid">
			<div class="agile-grids">
				<!-- gallery -->
				<div class="grids-heading gallery-heading">
					<h2>Recipes</h2>
				</div>
                {% if vd %}
                    {% for i in vd %}
				<div class="gallery-grids">
						<div class="show-reel">
							<div class="col-md-3 agile-gallery-grid" >
                                <div class="agile-gallery">
									<a href="#" class="lsb-preview" data-lsb-group="header">

										<img src="/media/{{i.recipe_image}}" alt="" />
										<div class="agileits-caption">
											<h4>{{ i.recipe_name }}</h4>
											<p>{{ i.recipe_description}}</p>
                                            <a href="{% url 'nutritionist:delete' %}?id={{ i.recipe_id }}" ><button type="button" class="btn btn-danger">Delete</button></a>
                                        <a href="#?id={{ i.recipe_id }}" ><button type="button" class="btn btn-success">Edit</button></a>
                                            {% if i.recipe_isProcedure == 1 %}
                                            <h3 style="color:white;">Already Added</h3>
                                                {% else %}
                                        <a href="{% url 'nutritionist:add_procedure' %}?id={{ i.recipe_id }}" ><button type="button" class="btn btn-dark">Add Procedure</button></a>
                                            {% endif %}

                                        </div>
									</a>
								</div>
                            </div>

                        </div>
                            {% endfor %}
                            {% else %}
                             <h1> no data found </h1>
                            {% endif %}





						<script>
							$(window).load(function() {
							  $.fn.lightspeedBox();
							});

						</script>
				</div>
			<!-- //gallery -->

			</div>

</div>

{% endblock content %}